body {
  padding: 0;
  margin: 0;
}

.headImg {
  width: 100%;
  height: 600px;
  position: relative;
}

.topMessage {
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 80px;
  font-weight: bold;
}

.topPageButton {
  margin-top: 400px;
  margin-left: 500px;
}

.discription1,
.discription2,
.discription3 {
  margin-top: 30px;
  float: left;
  background-color: rgba(92, 192, 238, 0.7);
  margin-left: 20px;
  padding: 20px;
  text-align: center;
  line-height: 3em;
}

.discriptions {
  margin: 0 auto;
}

input[type="button"] {
  width: 280px;
  height: 60px;
  text-align: center;
  margin-left: 30px;
  background-color: rgba(83, 167, 245, 0.979);
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

input[type="button"]:hover {
  background-color: white;
  color: rgba(83, 167, 245, 0.979);
}

input[type="text"],
input[type="date"],
input[type="password"] {
  width: 500px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  background: #f6f5f4;
}

.contents img {
  width: 40%;
  height: 400px;
}
.side {
  margin-top: 130px;
}

.mainTitle {
  float: left;
  font-size: 30px;
  font-weight: bold;
}

.profImg {
  width: 80px !important;
  height: 100px !important;
}

a {
  text-decoration: none;
}

.right {
  float: right;
}

.menu-bar {
  background: white;
  border-bottom: medium solid #1ea4f1;
  font-size: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  float: right;
}

.menu li {
  float: right;
  margin: 20px;
  margin-left: 40px;
  list-style: none;
  text-align: center;
}

.menu a {
  text-decoration: none;
  color: black;
}

.menu1 {
  display: inline-block;
}

.contents {
  text-align: center;
  margin-top: 150px !important;
  width: 100%;
  margin: 0 auto;
}

.mycontents {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.postIcon {
  width: 30px !important;
  height: 40px !important;
}

.footer {
  bottom: 0;
  margin: 0 auto;

  text-align: center;
  background-color: rgb(17, 90, 226);
  padding: 10px;
}

.icn-like {
  margin-left: 30px;
  color: #ddd;
}
.icn-like:hover {
  cursor: pointer;
}
.icn-like.active {
  margin-left: 30px;
  color: #fe8a8b;
}

.content-box {
  background-color: rgb(54, 167, 233);
  padding: 30px;
  width: 530px;
  height: 440px;
  margin: 0 auto;
  margin-top: 100px;
}

.js-switch-img-sub {
  width: 180px !important;
  height: 100px !important;
  margin-left: 10px;
  margin-top: 10px;
}
