body {
  padding: 0;
  margin: 0;
}

.headImg {
  width: 100%;
  height: 600px;
  position: relative;
}

.topMessage {
  position: absolute;
  top: 100px;
  left: 150px;
  font-size: 80px;
  font-weight: bold;
  font-family: "Kalam", cursive;
}

.topPageButton {
  margin-top: 450px;
  margin-left: 440px;
  margin-bottom: 80px;
}

.discription1,
.discription2,
.discription3 {
  margin-top: 30px;
  float: left;
  background-color: rgba(92, 192, 238, 0.4);
  margin-left: 10px;
  text-align: center;
  line-height: 3em;
  padding: 3px;
}

.discriptions {
  margin: 0 auto;
}

.discriptions h2 {
  font-weight: bold;
}

input[type="button"] {
  width: 280px;
  height: 60px;
  text-align: center;
  margin-left: 30px;
  background-color: rgba(83, 167, 245, 0.979);
  border-radius: 10px;
  font-size: 20px;
  color: white;
}

input[type="button"]:hover {
  background-color: white;
  color: rgba(83, 167, 245, 0.979);
  cursor: pointer;
}

input[type="text"],
input[type="date"],
input[type="password"] {
  width: 500px;
  height: 30px;
  text-align: center;
  font-size: 14px;
  background: #f6f5f4;
}

input[type="submit"] {
  width: 150px;
  height: 40px;
  background: #8dd5ff;
  color: white;
}
input[type="submit"]:hover {
  cursor: pointer;
}
.searchSubmit {
  margin-left: 20px;
  background: white !important;
  color: rgb(20, 173, 173) !important;
}

.loginSubmit {
  background: white !important;
  color: rgb(20, 173, 173) !important;
  font-weight: bold;
}

.contents img,
.mypageContents img {
  width: 40%;
  height: 400px;
}
.side {
  margin-top: 150px;
  width: 200px;
  margin-left: 80px;
  padding: 20px;
  position: fixed;
  float: left;
  background: rgb(122, 216, 245);
}

.mainTitle {
  float: left;
  font-size: 30px;
  font-weight: bold;
}

.profImg {
  width: 120px !important;
  height: 140px !important;
}

a {
  text-decoration: none;
}

.right {
  float: right;
}

.menu-bar {
  background: white;
  border-bottom: medium solid #1ea4f1;
  font-size: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  float: right;
  font-family: "Kalam", cursive;
}

.menu li {
  float: right;
  margin: 20px;
  margin-left: 40px;
  list-style: none;
  text-align: center;
}

.menu a {
  display: block;
  text-decoration: none;
  color: black;
}

.menu--bar {
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  width: 7%;
  height: 10px;
  background: rgb(14, 198, 211);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.menu li:nth-child(1):hover ~ .menu--bar {
  left: 92%;
}
.menu li:nth-child(2):hover ~ .menu--bar {
  left: 83%;
}
.menu li:nth-child(3):hover ~ .menu--bar {
  left: 74%;
}
.menu li:nth-child(4):hover ~ .menu--bar {
  left: 66%;
}

.contents {
  text-align: center;
  margin-top: 150px !important;
  width: 100%;
  margin: 0 auto;
}

.mypageContents {
  text-align: center;
  margin-top: 130px !important;
  width: 100%;
  margin: 0 auto;
}

.mycontents {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.postIcon {
  width: 30px !important;
  height: 40px !important;
}

footer {
  bottom: 0;
  margin: 0 auto;
  text-align: center;
  background-color: rgb(174, 201, 252);
  padding: 5px;
}

.icn-like {
  margin-left: 30px;
  color: #ddd;
}
.icn-like:hover,
.top-icn-like:hover {
  cursor: pointer;
}
.icn-like.active {
  margin-left: 30px;
  color: #fe8a8b;
}

.top-icn-like {
  color: #ddd;
}

.top-icn-like.active {
  color: #fe8a8b;
}

.content-box {
  background: #22aeff;

  padding: 50px;
  width: 500px;
  height: 440px;
  margin: 0 auto;
  margin-top: 100px;
}

.img {
  width: 100%;
}

#js-switch-img-main {
  overflow: hidden;
  width: 700px;
  height: 450px;
  box-sizing: border-box;
}

.img-subs {
  float: right;
  width: 200px;
}

.js-switch-img-sub {
  width: 180px !important;
  height: 100px !important;
  margin-top: 10px;
  display: block;
}

.detail-prof {
  float: left;
  margin-right: 5px;
  margin-left: 40px;
  margin-top: 120px;
}

.detail-prof img {
  width: 150px;
  height: 200px;
}

.detail_title {
  font-size: 25px;
  font-weight: bold;
}

.detail_when {
  display: inline-block;
  margin-right: 200px;
}

.badge {
  padding: 5px 10px;
  color: white;
  background: #72d3fa;
  margin-right: 10px;
  font-size: 16px;
  vertical-align: middle;
  position: relative;
  top: -4px;
}

.out {
  margin-bottom: 50px;
  margin-top: 30px;
}

select {
  outline: none;
  text-indent: 0.01px;
  text-overflow: "";
  background: rgb(191, 228, 225);

  vertical-align: middle;
  font-size: inherit;
  color: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

select option {
  background-color: #fff;
  color: #333;
}

.side select {
  padding: 8px 38px 8px 8px;
}
